<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meets</title>
</head>
<body>
    <h1>Meets</h1>
    <ul>
        <% for (let meet of meets) { %>
            <li>
                <h2><a href="/meets/<%= meet._id %>"><%= meet.name %></a></h2>
                <h3><%= meet.date %></h3>
                <h3><%= meet.location %></h3>
            </li>
        <% } %>
    </ul>
</body>
</html>